// utils styles

@import "./utils/variables";
@import "./utils/fonts";
@import "./utils/hidden";
@import "./utils/mixins";

// base styles

@import "./base/reset";
@import "./base/container";


// COMPONENTS 


@import "./components/global/logo";
@import "./components/section/header";
@import  "./components/global/current";
@import "./components/section/hero";
@import "./components/global/social";
@import "./components/section/benefits";
@import "./components/section/activities";
@import "./components/section/team";
@import "./components/section/clients";
@import "./components/section/footer";
@import "./components/global/modal";
@import "./components/section/portfolio";


