.activities {
    margin-bottom: 94px;

    &__headline {
        text-align: center;
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.03em;
    }

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__img {
        position: relative;
    }

    &__description {
        position: absolute;
        bottom: 0;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);
        background-color: rgba(47, 48, 58, 0.8);
        padding-bottom: 27px;
        padding-top: 27px;
        width: 100%;
    }
}
