.footer {
    padding: 60px 0;
    background-color: var(--footer-background-color);

    &__container {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: baseline;
        }

        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
        }
    }

    &__wrap {
        text-align: center;

        @media screen and (min-width: 768px) {
        }

        @media screen and (min-width: 1200px) {
            margin-right: 70px;
            text-align: start;
        }

        > a {
            margin: 0;
            padding: 0;
            color: var(--white-color);
            font-size: 24px;

            @media screen and (min-width: 1200px) {
                font-size: 26px;
            }

            > span {
                color: var(--accent-color);
            }
        }
    }

    &__address {
        margin-top: 20px;
        margin-bottom: 60px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
    }

    &__headline {
        @include fonts(14px, 1.14, 700);
        margin-bottom: 20px;
        text-transform: uppercase;
        color: var(--white-color);
        text-align: center;

        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }

    &__social {
        margin-bottom: 60px;

        @media screen and (min-width: 768px) {
        }

        @media screen and (min-width: 1200px) {
            margin-right: 93px;
            margin-bottom: 0;
        }
    }
}

.address {
    &__item:not(:last-child) {
        margin-bottom: 8px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
        }
    }
    &__map {
        @include fonts(14px, 1.7);
        color: var(--white-color);
        text-decoration: none;
        font-style: normal;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    &__info {
        @include fonts(14px, 1.7);
        margin: 0;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.footer-social__link {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.subscription {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__input {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50px;
        width: 100%;
        max-width: 450px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 20px;

        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        color: rgba(255, 255, 255, 0.6);
        border-radius: 4px;

        @media screen and (min-width: 1200px) {
            margin-right: 12px;
            margin-bottom: 0;
            width: 358px;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &__button {
        @include fonts(16px, 1.87, 700, 0.06em);

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 28px;

        text-decoration: none;
        color: var(--white-color);

        border: none;
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
    }

    &__icon {
        margin-left: 12px;
        padding: 0 auto;

        @media screen and (min-width: 1200px) {
            margin-left: 10px;
        }
    }
}
