.header {
    background-color: var(--header-background-color);

    &__nav {
        display: flex;
        align-items: center;
    }

    &__contact {
        display: flex;
        margin-left: auto;
    }
}

.nav {
    &__logo {
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;

        & > span {
            color: var(--accent-color);
        }
    }

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }
    &__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        text-decoration: none;

        color: var(--main-font-color);

        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0.02em;
        font-size: 14px;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.contact {
    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:hover {
            color: var(--accent-color);
            fill: currentColor;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;

        text-decoration: none;
        color: var(--nav-contact-color);
        line-height: 1.1;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 14px;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: var(--accent-color);
        }
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}
