:root {
    /* Text colors */

  --main-font-color: #212121;

  /* Accent color */

  --accent-color: #2196f3;

  /* Logo color */
  --logo-color: #000000;

  /* Header background color */
  --header-background-color: #ffffff;

  /* Background color hero */
  --hero-background-color: #c4c4c4;

  /* Other colors */

  --nav-contact-color: #757575;

  /* Footer color*/
  --footer-background-color: #2f303a;

  --white-color: #ffffff;
  --second-white-color: #f5f4fa;
  --third-white-color: #f5f5f5;

  --grey-color: #757575;
  --second-grey-color: #ececec;
  --third-grey-color: #eeeeee;

  /* Social icon colors */

  --color-social-icons: #afb1b8;
}